[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-patriciob/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-patriciob/products-ms.git
